@model BookStore.Business.Models.Book
@{
    ViewData["Title"] = "Detail";
}


<body xmlns="http://www.w3.org/1999/html">

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Hero Section -->
    <div class="container space-top-1 space-top-sm-2">
        <div class="row">
            <div class="col-lg-7">
                <img class="card-img" height="400" style="object-fit: contain; padding: 10px;" src="@Model.Images" alt="Image Description">
            </div>
            <!-- Product Description -->
            <div class="col-lg-5">


                <!-- Title -->
                <div class="mb-5">
                    <h1 class="h2">@Model.Name</h1>
                    <p>Best seller in last decade</p>
                </div>
                <!-- End Title -->

                <div class="mb-5">
                    <h2 class="font-size-1 text-body mb-0">
                        Author:
                        <b>@Model.Author.Name</b>
                    </h2>
                </div>
                 <div class="mb-5">
                                    <h2 class="font-size-1 text-body mb-0">
                                        Publisher:
                                        <b>@Model.Publisher.Name</b>
                                    </h2>
                                </div>
                <div class="mb-5">
                    <h2 class="font-size-1 text-body mb-0">Total price:</h2>
                    <span class="text-dark font-size-2 font-weight-bold">@Model.Price ₺</span>
                </div>
                <!-- End Price -->

                <div class="mb-4">
                    <button type="button" class="btn btn-block btn-primary btn-pill transition-3d-hover" asp-action="Index" asp-route-id="">Go Back Home</button>
                </div>

                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <!-- End Product Description -->
        </div>
    </div>
    <!-- End Hero Section -->
</main>
<!-- Go to Top -->
<!-- End Go to Top -->

</body>